* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: beige;
}

img {
    height: auto;
    width: 400px;
}

ul {
    list-style: none;
}

.name {
    font-size: 1.5em;
    font-weight: bold;
}

.desc, 
.price,
.contact {
    padding-left: 30px;
}

li {
    margin: 3px;
}

.price, .contact {
    color: red;
    text-decoration: underline;
    margin-bottom: 20px;
}

.price:hover,
.contact:hover {
    opacity: 0.6;
}